.center{
  display: flex;
  justify-content: space-evenly;
  margin-left: 8vw;
  margin-right: 8vw;
}
.center-edit{
  display: flex;
  margin-left: 8vw;
  margin-right: 8vw;
}
.sketch-image{
  width:20vw; 
  height:20vw; 
  border-radius: 10px; 
}
.sketch-margin{
  margin: 2vw;
}
.li-text{
  text-align: left;
}

  #Sketch {
    background-color: rgb(128, 113, 113);
    border-radius: 10px;
    padding: 10px;
    border: 10px solid rgb(56, 53, 53);
  }
  #Intro{
  background-color: rgb(128, 113, 113);
  border-radius: 10px;
  padding: 10px;
  border: 10px solid rgb(56, 53, 53);
  }
.gallery-container {
  background-color: rgb(128, 113, 113);
  border-radius: 10px;
  padding: 10px;
  margin: 2em;
  border: 10px solid rgb(56, 53, 53);
    /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  }
  #Observations{
  background-color: rgb(128, 113, 113);
  border-radius: 10px;
  padding: 10px;
  border: 10px solid rgb(56, 53, 53);
  }
  #Questions{
  background-color: rgb(128, 113, 113);
  border-radius: 10px;
  padding: 10px;
  border: 10px solid rgb(56, 53, 53);
  }
  .padding{
    padding: 2vw;
  }
  #Responses{
  background-color: rgb(128, 113, 113);
  border-radius: 10px;
  padding: 10px;
  border: 10px solid rgb(56, 53, 53);
  }
  #empathy-maps {
    background-color: rgb(128, 113, 113);
    border-radius: 10px;
    padding: 10px;
    border: 10px solid rgb(56, 53, 53);
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  figcaption{
    display: table-caption;
    display: flex;
    caption-side: bottom;
    background-color: solid gray;
    padding: 2px;
    
  }
  h1,
  h2,
  h3,
  h4{
    color: whitesmoke;
    /*color: rgb(132, 122, 122)*/
  }